Source: ros-r2b2-cartographer
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), g++, libboost-all-dev, libcairo2-dev, libeigen3-dev, libgflags-dev, libgoogle-glog-dev, liblua5.2-dev, libprotobuf-dev, libprotoc-dev, libwebp-dev, protobuf-compiler, python-sphinx, ros-r2b2-ceres-solver, ros-r2b2-ros-workspace
Homepage: https://github.com/googlecartographer/cartographer
Standards-Version: 3.9.2

Package: ros-r2b2-cartographer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libcairo2-dev, libeigen3-dev, libgflags-dev, libgoogle-glog-dev, liblua5.2-dev, libprotobuf-dev, libprotoc-dev, libwebp-dev, protobuf-compiler, ros-r2b2-ceres-solver, ros-r2b2-ros-workspace
Description: Cartographer is a system that provides real-time simultaneous localization and mapping (SLAM) in 2D and 3D across multiple platforms and sensor configurations.
