Source: ros-rolling-cartographer
Section: misc
Priority: optional
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), cmake, git, google-mock, libabsl-dev, libboost-iostreams-dev, libcairo2-dev, libceres-dev, libeigen3-dev, libgflags-dev, libgoogle-glog-dev, libgtest-dev, liblua5.2-dev, libprotobuf-dev, libprotoc-dev, protobuf-compiler, python3-sphinx, ros-rolling-ros-workspace
Homepage: https://github.com/cartographer-project/cartographer
Standards-Version: 3.9.2

Package: ros-rolling-cartographer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libabsl-dev, libboost-iostreams-dev, libcairo2-dev, libceres-dev, libeigen3-dev, libgflags-dev, libgoogle-glog-dev, liblua5.2-dev, libprotobuf-dev, libprotoc-dev, protobuf-compiler, ros-rolling-ros-workspace
Description: Cartographer is a system that provides real-time simultaneous localization and mapping (SLAM) in 2D and 3D across multiple platforms and sensor configurations.
